html, body {
  height: 100%;
}

body {
  background: transparent;
  color: white;
}

header {
  margin-top: 20px;
  height: 200px;
}

.brand {
  height: 200px;
  width: 400px;
  background-image: url(groovy-logo-white.svg);
  background-position: 0;
  background-size: contain;
  background-repeat: no-repeat;
  margin: 0 auto;
}

#main {
  margin-top: 50px;
}

#main form {
  width: 500px;
  padding: 20px;
  background: #0e2029;
  margin: 0 auto;
  box-shadow: 1px 1px 45px 10px rgba(0, 0, 0, 0.2)
}

#main form h3 {
  margin-bottom: 30px;
  text-align: center;
}

#main.thanks {
  text-align: center;
  text-shadow: 1px 1px 2px #000;
  font-size: 2rem;
}

#main.coc {
  margin-bottom: 200px;
}

.extra-thanks {
  margin-top: 45px;
}

html {
  background-color: #1C4456;
  height: 100%;
  margin: 0;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

code, .clippy-notes {
  text-shadow: none;
}

body {
  font-size: 16px;
}

p {
  line-height: 1.5;
}

h1, h2, p {
  text-shadow: 1px 1px #0e2029;
}

a {
  color: #45b7e2;
}

a:hover {
  color: #4bbfee;
}